.swarm-container {
  position: relative;
}

.swarm-overlay {
  color: #fff;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.swarm-metadata {
    font-family: 'Roboto', sans-serif;
    color: #808080;
    font-size: 14px;
}

.swarm-metadata .emotions, .swarm-metadata .data {
  display: flex;
}

.swarm-metadata span {
  padding: 3px 3px;
}
.swarm-metadata span.swarm-time {
  font-weight: bold;
}
.swarm-metadata span:first-of-type {
  padding-left: 0px;
}
.swarm-metadata span.live {
  padding-right: 6px;
}

.swarm-metadata .emotion-box {
  color: #fff;
  padding: 3px 0px;
  width: 85px;
  text-align: center;
  transition: background-color 2s ease;
}

.swarm-metadata {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  display: flex;
}
.swarm-metadata .emotion-box {
  display: inline;
}

.swarm-metadata .super {
  position: relative;
  font-size: 65%;
  top: -0.5em;
}

.swarm-metadata .love {
  background-color: #f0575d;
}
.swarm-metadata .surprise {
  background-color: #733e98;
}
.swarm-metadata .joy {
  background-color: #f8cd2c;
}
.swarm-metadata .disgust {
  background-color: #7bc3ad;
}
.swarm-metadata .sadness {
  background-color: #75c7d7;
}
.swarm-metadata .fear {
  background-color: #3b77b0;
}
.swarm-metadata .anger {
  background-color: #f1946c;
}

.swarm-container {
  overflow: hidden;
}

.swarm-container .fallback-image {
  height: 100%;
  background: url(images/bg.jpg) no-repeat center center fixed;
  background-size: cover;
}

.swarm-overlay .logo {
  text-align: center;
  font-size: 25px;
  width: 22.4%;
  position: absolute;
  animation: fadein 2s;
}

.swarm-container .fadein {
  animation: fadein 2s;
  opacity: 1;
}

.swarm-container .fadeout {
  animation: fadeout 2s;
  opacity: 0;
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media (max-width: 968px) {
  .swarm-overlay .logo {
    height: auto;
    width: 280px;
  }

  .swarm-metadata {
    flex-direction: column;
    width: 100%;
  }

  .swarm-metadata .emotion-box {
    flex-grow: 1;
  }
}

.swarm-overlay .logo img {
  width: 100%;
}

.swarm-overlay .text {
  max-width: 90%;
  text-align: center;
}

.swarm-overlay .text span {
  text-transform: uppercase;
  font-size: 20px;
  padding: 6px;
  margin-right: 10px;
  margin-bottom: 30px;
  /*text-align: center;*/
  display: inline-block;
}
